<div class="buscar_comentario"></div>
<div class="boton_buscar"></div>
<h1>Usuarios</h1>

<% @users.each do |user| %>
  <div id="vertmenu_usuario">
    <ul>
      <li><a href="/users/<%=user.id%>" tabindex="1">
          <img alt="FotoPerfil" width="100px" src="http://localhost:3000/assets/ImagenesDesarrollo/foto.jpg<%#=user.foto %>" class="foto_usuario_index" style="  float: left;
               margin-right: 20px;" /> <h1 class="titulos" ><%= user.nick_name %> <span style="color:  lightgrey; font-size: 50%" ><%= user.correo %></span> </h1>

            <%= link_to user.nombre,user_path(user.id)%> <%= link_to user.apellido,user_path(user.id)%>
          <span style="color:  lightgrey; font-size: 100%" >Pais</span>
          <%= link_to user.pais,user_path(user.id)%>
          <br><span style="color:  lightgrey; font-size: 100%" >Biografia</span></br>
<%= link_to user.biografia,user_path(user.id)%>
          
          <br></br>
          <%= link_to 'Mostrar',user_path(user.id)%>
          <%= link_to 'Editar Perfil', edit_user_path(user.id) %>
          <%= link_to 'Eliminar', user_path(user.id), confirm: '¿Estas seguro?', method: :delete %>
          <%= link_to 'Crear comentario', new_user_comentario_path(user.id) %>
          <a href="/sessions" >Iniciar Sesion</a>
        </a></li>

    </ul>
  </div>
<% end %>

<span style="color: #ffffff" ><%= link_to 'Nuevo Usuario', new_user_path , :class =>"classname"%></span>