<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @usuario.id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @usuario.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @usuario.apellido %>
</p>


<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
