
<p id="notice"><%= notice %></p>

<p>
  <b>Mensaje:</b>
  <%= @comentario.mensaje %>
  <b>Hora Publicacion:</b>
  <%= @comentario.hora_publicacion %>
  <b>Me gusta:</b><%= @comentario.me_gusta%><b>No me gusta:</b><%= @comentario.no_me_gusta%>
</p>


<%= link_to 'Edit', edit_user_comentario_path(@user,@comentario) %> |
<%= link_to 'Back', user_comentarios_path %>
