<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.apellido %>
</p>

<p>
  <b>Correo:</b>
  <%= @user.correo %>
</p>

<p>
  <b>Nick name:</b>
  <%= @user.nick_name %>
</p>

<p>
  <b>Pais:</b>
  <%= @user.pais %>
</p>

<p>
  <b>Biografia:</b>
  <%= @user.biografia %>
</p>

<p>
  <b>Foto:</b>
  <%= @user.foto %>
</p>

<table>
  <tr>
    <th>Id comentario</th>
    <th>Mensaje</th>
    <th>Tag</th>
    <th>Hora publicacion</th>
    <th>Fecha publicacion</th>
    <th>Creador</th>
    <th></th>
  </tr>

<% @user.comentarios.each do |comentario| %>
  <tr>
    <td><%= comentario.mensaje %></td>
    <td><%#= comentario.user %></td>
    <td><%= link_to 'Show', [@user, comentario] %></td>
    <td><%= link_to 'Edit', edit_user_comentario_path(@user,comentario) %></td>
    <td><%= link_to 'Destroy', [@user,comentario], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
