<%= form_for([@user,@comentario]) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
        <% @comentario.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :mensaje %><br />
    <%= f.text_area :mensaje %>
  </div>
  <%#*<div class="field">%>
    <%#= f.label :hora_publicacion %><br />
    <%#= f.datetime_select :hora_publicacion %>
  <%#*</div>%>
        
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
