<p id="notice"><%= notice %></p>

<p>
  <b>Id comentario:</b>
  <%= @comentario.id_comentario %>
</p>

<p>
  <b>Mensaje:</b>
  <%= @comentario.mensaje %>
</p>

<p>
  <b>Tag:</b>
  <%= @comentario.tag %>
</p>

<p>
  <b>Hora publicacion:</b>
  <%#= @comentario.hora_publicacion %>
</p>
<p>
  <b>Creador:</b>
  
</p>

<%= link_to 'Edit', edit_user_comentario_path(@user,@comentario) %> |
<%= link_to 'Back', user_comentarios_path %>
