<h1>Listing tokens</h1>

<table>
  <tr>
    <th>Hora ini</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tokens.each do |token| %>
  <tr>
    <td><%= token.hora_ini %></td>
    <td><%= token.status %></td>
    <td><%= link_to 'Show', [@user,token] %></td>
    <td><%= link_to 'Edit', edit_user_token_path(@user,token) %></td>
    <td><%= link_to 'Destroy', [@user,token], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Token', new_user_token_path(@user) %>
